@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  scroll-behavior: smooth;
  background: linear-gradient(180deg,
      rgba(17, 84, 99, 0.1) 0%,
      rgba(39, 59, 63, 0.1) 31.77%,
      rgba(19, 61, 100, 0.1) 64.58%,
      rgba(79, 21, 137, 0.1) 100%),
    linear-gradient(0deg, #232c30, #232c30);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgb(51 65 85);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(79 70 229);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}